[Unit]
Description=Set CPU scaling governor and energy performance preference based on battery status
Wants=default-energy-performance-preference.timer

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/bin/bash /usr/local/bin/set_cpu_performance.sh

[Install]
WantedBy=multi-user.target
