[Unit]
Description=Set CPU scaling governor and energy performance preference
Wants=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/bash -c 'echo powersave | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/scaling_governor && echo balance_performance | sudo tee /sys/devices/system/cpu/cpu*/cpufreq/energy_performance_preference'

[Install]
WantedBy=multi-user.target
